

.container1{
    background: white;  
    float: right;  
    width: 80%;
    height: 100vh;
    margin-top: -2rem;
   
}
.container-add{
    color:white;
    border-radius:4px;
    margin-right:80px;
    padding:5px 10px;
    background-color: #09DAB3;
}

.fa-pen{
    margin-left:44px;
    color:#09DAB3;
}

.fa-pen-1{
    margin-left:52px;
    color:#09DAB3;
}

.fa-pen-2{
    margin-left:28px;
    color:#09DAB3;
}



.link-success-3{
    margin-left:50px;
    color:#09DAB3;
}

.fa-copy{
    margin-left:8px;
    margin-right:8px;

}

.fa-share{
    margin-right:8px
}

.fa-delete{
    color:red;
}



.card-image{
    margin: 7px;
    width:240px;
    height: 185px;
background-color: black;}



.card{
    margin-top: 35px;
    margin-left: 35px;  
    height: 280px;
    width: 260px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-right-width: 0;

}

.text-card{
    padding-left: 12px;
}

.icon-image{
    float: right;
    color: aqua;
    padding-right: 8px;
    margin-top: 150px;
}

.icon-student{
    padding-left: 8px;
}

.icon-student-text{
    font-size: 10px;
    margin-left: 3px;
    margin-top: 6px;
}

.icon-hand{
    margin-left: 20px;
}

.icon-hand-text{
    font-size: 10px;
    margin-left: 3px;
    margin-top: 6px;
}

.icon-arrow{
    margin-left: 4px;
}

.container-icon{
    margin-top: 10px;
    display: flex;
}

.icon-edit{
    margin-left: 83px;
}

.icon-anexo{
    margin-left: 92px;
}

