.container1{
    background: black;  
    float: right;  
    width: 82%;
    height: 100vh;
    margin-top: -2rem;
    margin-left:0px;
    padding:30px;
   
}

h1, p{
   margin-top:10px;
    color:white;
}

button{
    background-color:#09DAB3;
    font-size: 15px;
    font-weight: bold;
    margin-top:5px;
    padding: 5px 20px;
    border:none;
    color:white;

}





