

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fs-3 {
  font-size: 1.2rem !important;
}

.fs-5 {
  font-size: 0.9rem !important;
}

/*color */

.bg-success {
  color: white;
  background-color: #09DAB3 !important;
}

/*cor de botões */

.btn-success {
  background-color: #09DAB3 !important;
}
.btn-outline-success {
  color: #09DAB3 !important;
  border-color: #09DAB3 !important;

}
.btn-outline-success:hover {
  background-color: black ;
}

.link-success {
  color: #09DAB3 !important;
}

